<a name="about"></a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2><u>About Us</u></h2>
<br/>
<h3>Hello! We’re Xello.</h3>
An education software company powered by passionate people who are
committed to helping every student become future ready.

<img src="../../assets/img/xello_team.png" class="img-fluid pt-5" >

<h4>We help students become future ready</h4>
We were inspired by our own experiences after graduating and wondering,
“What’s next?” We weren’t alone. The inability to answer this single, seemingly
easy question was also problematic for our friends and peers. Few of them had
concrete ideas about what they wanted to do with their lives. Their
understanding of their options was usually very limited, and more determined by
superficial and inaccurate stereotypes than the realities of the working world.
Those who did have a vision for their future struggled to bring those ideas to life.

Since uncovering this problem over 20 years ago, we’ve dedicated ourselves to
building solutions to help students become future ready. Our engaging, fun-to-
use software bridges the gap between young people and the working world. It
shows every student their future possibilities and equips them with the
knowledge, skills, and insights to make informed decisions and build actionable
plans. It helps every student take control of who they’ll be and what they’ll
become, giving them the confidence to take that next step towards their successful future.
<br/><br/>
<b>Want to help us write the next chapter in our story?</b>
<br/><br/><br/>
<div>
<app-tooltip></app-tooltip>
</div>
