<button type="button" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="top" placement="auto top" title="Tooltip changes
position according to the space"
fallbackPlacement="flip">
  Learn More
</button>

<button type="button" class="btn btn-warning mr-2" data-toggle="tooltip" data-placement="top" placement="auto top" title="Tooltip changes
position according to the space"
        fallbackPlacement="flip">
  Learn Less
</button>

  <button type="button" class="btn btn-danger mr-2" data-toggle="tooltip" data-placement="top" placement="auto top" title="Tooltip changes
position according to the space"
          fallbackPlacement="flip">
    Don't Learn
  </button>





